<article class="thumb">
    <a href="images/fulls/{{this.fileName}}" class="image"><img src="images/thumbs/{{this.thumb}}" alt="" /></a>
    <h2>{{this.title}}</h2>
    <p>{{this.fileName}}</p>
</article> 