<!DOCTYPE HTML>

<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
			<div id="wrapper">
					<header id="header">
						<h1><a href="#"><strong>{{title}}</strong> by {{author}}</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>
					<div id="main">
                          {{{body}}}
					</div>
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Little Backup Box</h2>
									<p>A project that transform a Raspberry Pi into an inexpensive, fully-automatic, pocketable photo backup and streaming device.</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="https://bitbucket.org/account/user/ptzdev/projects/LBB" class="icon fa-bitbucket  "><span class="label">GitHub</span></a></li>
										<li><a href="https://www.facebook.com/ptorrezao" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/ptorrezao/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/in/pedrotorrezao" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>